@model GetTodayTask
@{
    ViewData["Title"] = "Home Page";
}
<div class="dailyBackground">
    <div class="top-background">
        <div class="title">
            <p class="title-text">NameOfApp</p>
        </div>
        <div class="block-account">
            <div class="button">
                <p class="button-name">Account</p>
            </div>
        </div>
    </div>
    <div class="row block-tables">

        <div class="col-md-4 block-daily-tasks">
            <div class="table">
                <div class="block-add">
                    <div class="button-add">

                    </div>
                </div>
                <p class="table-name"> Список дел на @Model.CurrentDay</p>
                <div class="task">
                    @foreach (var task in Model.Tasks)
                    {
                        <div class="current-task">
                            <div>
                                <p>@task.Time</p>
                            </div>
                            <div>
                                <p>@task.Task</p>
                            </div>
                            <div class="block-done">
                                <div class="button-done">
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>

        <div class="col-md-4 block-everyday-tasks">
            <div class="table">
                <div class="block-add">
                    <div class="button-add">
                    </div>
                </div>
                <p class="table-name"> Ежедневные задачи</p>
                <div class="task">
                    @foreach (var task in Model.Tasks)
                    {
                        <div class="current-task">
                            <div>
                                <p>@task.Time</p>
                            </div>
                            <div>
                                <p>@task.Task</p>
                            </div>
                            <div class="block-done">
                                <div class="button-done">
                                </div>
                            </div>
                        </div>
                        
                    }
                </div>
            </div>
        </div>

        <div class=" col-md-4 block-noterms-tasks">
            <div class="table">
                <div class="block-add">
                    <div class="button-add">
                    </div>
                </div>
                <p class="table-name"> Бессрочные задачи</p>
                <div class="task">
                    @foreach (var task in Model.Tasks)
                    {
                        <div class="current-task">
                            <div>
                                <p>@task.Time</p>
                            </div>
                            <div>
                                <p>@task.Task</p>
                            </div>
                            <div class="block-done">
                                <div class="button-done">
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
<div class="add-task-background">
    <div class="add-daily-form">
        <div class="block-close">
            <div class="button-close">
            </div>
        </div>
        <div class="form">
            <p class="add-text">Укажите дату</p>
            <div class="field">
            </div>
        </div>
        <div class="form">
            <p class="add-text">Укажите время</p>
            <div class="field">
            </div>
        </div>
        <div class="form">
            <p class="add-text">Укажите задачу</p>
            <div class="field">
            </div>
        </div>
    </div>
    <div class="add-everyday-form">
        <div class="block-close">
            <div class="button-close">
            </div>
        </div>
        <div class="form">
            <p class="add-text">Укажите время</p>
            <div class="field">
            </div>
        </div>
        <div class="form">
            <p class="add-text">Укажите задачу</p>
            <div class="field">
            </div>
        </div>
    </div>
    <div class="add-noterms-form">
        <div class="block-close">
            <div class="button-close">
            </div>
        </div>
        <div class="form">
            <p class="add-text">Укажите задачу</p>
            <div class="field">
            </div>
        </div>
    </div>
</div>
